* {
    margin: 0;
    padding: 0;
  }
  
  body {
    transition: all 0.5s;
  }
  
  .main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  #grid {
    width: 85%;
    height: 80%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .flip-card {
    background-color: transparent;
    perspective: 1000px;
  }
  
  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;

  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background:plum;
    box-shadow: 0 7px 30px 0 rgb(31 38 135 / 50%);
    backdrop-filter: blur(5px);
    border-radius: 8px;
    cursor: pointer;
  }
  
  .front {
    color: black;
  }
  
  .back {
    background-color:yellowgreen;
    color: whitesmoke;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flipped {
    transform: rotateY(180deg);
  }
  
  .visi {
    visibility: hidden;
  }
  
  @media (max-width: 600px) {
    h2 {
      font-size: 1rem !important;
    }
  }