.App {
    text-align: center;
  }
  
  .form {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }
  
  .form button {
    margin: 0px 10px;
  }
  
  .weather {
    text-align: center;
  }
  
  .card {
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px;
    margin-top: 60px;
    background-color: rgb(111, 207, 236);
  }
  
  .card img {
    width: 25%;
    margin-top: 22px;
  }
  
  .card .place {
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .temp {
    font-size: 3.5rem;
  }
  
  .whp {
    padding: 10px 0px;
  }
  
  .data {
    font-weight: 500;
  }