.app {
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid transparent;
    margin-top: 100px;
    align-items: center;
    overflow-y: auto;
    box-shadow: 2px 3px 9px -1px black;
    border-radius: 5px;
    
}

.card{
    width: 42vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    background-color: rgb(50 145 50);
    text-align: center;
    border-radius: 15px;
    box-shadow: 2px 3px 9px -1px green;
    padding-bottom: 30px;

}
.mainheading{
    font-size:30px;
    text-align: center;
    font-weight: bold;
}